extends ./../layouts/base

block vars
  - title = 'Facility'
  - bodyClass = 'facility-page'
  - currentUrl = 'facility.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      section
        h2.text-dark-green.mb-4 FACILITY
        h3.text-green.mb-4 Interactive 2D Map
        .interactive-map-wrapper
          #pik-map.interactive-map.stretch-no-gutter(
            img-src="assets/images/content/interactive-map.jpg"
            background-color="#b4f4ff"
          )
            .interactive-map-loader
              .loader
                .spinner
                .spinner
            .interactive-map-request
              .text-request
            .interactive-map-search
              input(type="text" placeholder="Explore..." onkeydown="searchOnMap(this)")
              .map-clear-search
            .interactive-map-notes
              .notes-item
                .icon-wrapper
                  i.icon-pik.ip-scroll-horizontal
                span Hold + Slide to move
              .notes-item
                .icon-wrapper
                  i.icon-pik.ip-scroll-vertical
                span Scroll to Zoom in/out

      section.mt-5
        h3.text-green.mb-4 Virtual Tour
        .stretch-no-gutter
          .img-wrapper
            img(src="assets/images/banner/building.jpg" alt="Product")
      section.mt-5
        h3.text-green.mb-4 Video Facilities
        .pik-banner.full-height.ratio-5-2
          a.banner-item.lightbox-item.lightbox-iframe.lightbox-video(href="https://www.youtube.com/watch?v=giN13SWKyoM")
            .banner-image
              img(src="assets/images/banner/building.jpg" alt="Building")
block scripts
  script.
    //- feel free to investigate the code here:
    //- https://github.com/arinalistyarini/revamp-pik2/blob/main/src/assets/scripts/interactive-map.js
    //- function which can be used here: https://github.com/arinalistyarini/revamp-pik2/blob/main/src/app-global.js
    //- global.<the function>
    var mapId = 'pik-map';

    //- PLEASE READ BELOW FIRST FOR EASIER USED
    //- no need to bruteforce the coordinate
    //- firstly, zoooooooom the map *a must
    //- in browser console (https://www.webucator.com/article/how-to-open-google-chromes-javascript-console/)
    //- please insert this code:
    //- global.toggleCoordinateLog(global.getExistingMap('pik-map'));
    //- and then click on the map, it will show:
    //- {
    //-   "original": {
    //-     "lat": ...,
    //-     "lng": ...,
    //-     "factor": ...,
    //-   },
    //-   "recomputed": {
    //-     "lat": ...,
    //-     "lng": ...,
    //-   }
    //- }
    //- to put in DB, please use the recomputed.lat & recomputed.lng
    //- recomputed is the original lat/lng then / factor
    //- can be seen here: https://github.com/arinalistyarini/revamp-pik2/blob/main/src/assets/scripts/interactive-map.js
    //- in function global.markMap({...}) (function to give mark); in 'position' object, please put:
    //- position: [recomputed.lat * window.interactiveMap.factor, recomputed.lng * window.interactiveMap.factor]
    //- don't forget the window.interactiveMap.factor, because if window.interactiveMap.factor is not used -->
    //- ---> different map width (viewport) will have different marker position
    //- if it's still confusing, please read this comment: http://disq.us/p/1c32atj

    function searchOnMap(el) {
      if (event.key === 'Enter' || event.keyCode === '13') {
        global.clearMapMarkers(mapId);

        //- demo purposes - give loader
        global.mapToggleLoader(mapId, true);
        setTimeout(() => {
          global.mapToggleLoader(mapId, false);
        }, 3000);

        if (el.value) {
          global.markMap({
            id: mapId,
            title: `${el.value}`,
            position: [2441.764682783224 * window.interactiveMap.factor, 1509.9127454936101 * window.interactiveMap.factor],
            content: 'Sekolah Alam adalah sebuah konsep pendidikan yang digagas<br><img src="assets/images/content/interactive-map.jpg" style="height:50px;">', // optional
            // icon list: https://github.com/arinalistyarini/revamp-pik2/blob/main/src/assets/styles/base/_icons.scss
            icon: 'ip-mosque',
            //- color: <optional> green | blue
            color: 'blue',
          });

          global.markMap({
            id: mapId,
            title: `${el.value} yang ke dua`,
            position: [1856.5098282538115 * window.interactiveMap.factor, 2294.1459621819527 * window.interactiveMap.factor],
            content: 'Dua Sekolah Alam adalah sebuah konsep pendidikan yang digagas<br><img src="assets/images/content/interactive-map.jpg" style="height:50px;">', // optional
            //- icon list: https://github.com/arinalistyarini/revamp-pik2/blob/main/src/assets/styles/base/_icons.scss
            icon: 'ip-library',
          });

          global.markMap({
            id: mapId,
            title: `${el.value} yang ke tiga`,
            position: [1651.4492068609559 * window.interactiveMap.factor, 1813.90032784714 * window.interactiveMap.factor],
            content: 'Dua Sekolah Alam adalah sebuah konsep pendidikan yang digagas<br><img src="assets/images/content/interactive-map.jpg" style="height:50px;">', // optional
            //- icon list: https://github.com/arinalistyarini/revamp-pik2/blob/main/src/assets/styles/base/_icons.scss
            icon: 'ip-golf',
            //- color: <optional> green | blue
            color: 'green',
          });
        }

        //- demo purposes
        //- get the map & use leaflet for position
        //- https://leafletjs.com/reference.html
        //- https://github.com/yafred/leaflet-responsive-popup#readme
        //- https://leafletjs.com/examples/crs-simple/crs-simple.html
        var map = global.getExistingMap(mapId);
        // centering map - FE custom function
        global.centeringMap(map);
        //- or manually add your own LatLng
        // map.setView([lat, lng]);
      }
    }
